nav{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    align-items: center;
}

input{
    border: none;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.075);
    outline: none;
    padding: 8px 20px;
}

.nav-icons{
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 2rem;
}