.recommended-flex{
    display: flex;
    margin-left: 20rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.recommended-title{
    padding: 10px;
    color: rgb(51, 48, 48);
}

.recommended-btns{
    display: flex;
    gap: 0.4rem;
}

.recommended-btn{
    border: 1px solid rgba(0, 0, 0, 0.144);
    background: rgba(56, 54, 54, 0.041);
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.3s;
}

.recommended-btn:hover{
    cursor: pointer;
    background-color: rgba(56, 54, 54, 0.096);
    transform: translateY(-2px);
}